@model IEnumerable<Domain.Project>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a href="Projects/New" class="btn btn-primary mb-1" role="button">Create Project</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
}
    </tbody>
</table>
