@model LicenseManagerWeb.ViewModels.SwProductViewModel

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Product</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SwProduct.Id" id="productId" />
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Product Information</span>
            </h4>
            <div class="form-group">
                <label asp-for="SwProduct.ProductId" class="control-label"></label>
                <input asp-for="SwProduct.ProductId" class="form-control w-25" />
                <span asp-validation-for="SwProduct.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.Name" class="control-label"></label>
                <input asp-for="SwProduct.Name" class="form-control w-75" />
                <span asp-validation-for="SwProduct.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.Version" class="control-label"></label>
                <input asp-for="SwProduct.Version" class="form-control w-25" />
                <span asp-validation-for="SwProduct.Version" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 order-md-2">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Links</span>
            </h4>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SourceCodeLocation" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SourceCodeLocation" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SourceCodeLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SharePointLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SharePointLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SharePointLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.EasyProjectLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.EasyProjectLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.EasyProjectLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SmartSheetLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SmartSheetLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SmartSheetLink" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="SwProduct.EmergencyKey.Id" id="emergencyKeyId" />
            <div class="form-group">
                <input type="checkbox" asp-for="SwProduct.EmergencyKey.Active" class="form-check-input ml-1" id="emergencyKeyActive" onclick="muteDivs()" />
                <label asp-for="SwProduct.EmergencyKey.Active" class="form-check-label ml-4"></label>
            </div>
            <div class="form-group" id="div-key-key">
                <label asp-for="SwProduct.EmergencyKey.Key" class="control-label"></label>
                <input asp-for="SwProduct.EmergencyKey.Key" class="form-control" id="emergencyKeyValue" />
                <span asp-validation-for="SwProduct.EmergencyKey.Key" class="text-danger"></span>
            </div>
            <div class="form-group" id="div-key-interval">
                <label asp-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="control-label"></label>
                <input asp-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="form-control" id="emergencyKeyInterval" />
                <span asp-validation-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SwProduct.LicenseId" class="control-label"></label>
                <select asp-for="SwProduct.LicenseId"
                        asp-items="@(new SelectList(Model.UsbTokens,"Id","Label"))">
                </select>
                <span asp-validation-for="UsbTokens" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="btn-saveProduct" />
            </div>
        </div>
    </div>
</form>

<hr />

@*<div class="row">
        <div class="col-md-8 mb-4 order-md-1" id="viProtectionInfoDiv">
            <partial name="_ViProtectionInfo" model="Model.SwProduct.ViProtectionInfo" />
        </div>
        <div class="col-md-4 mb-4 order-md-2">
            <h4 class="d-flex justify-content-between align-items-center">
                <span class="text-muted">Update information</span>
            </h4>
            <form id="form-viProtectionInfo">
                <div class="form-group">
                    <label asp-for="ViProtectionViewModel.Description" class="control-label" ></label>
                    <input asp-for="ViProtectionViewModel.Description" class="form-control" id="viProtectionDescription" onchange="onViProtectionInfoChange();"/>
                    <span asp-validation-for="ViProtectionViewModel.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ViProtectionViewModel.Password" class="control-label"></label>
                    <input asp-for="ViProtectionViewModel.Password" class="form-control" id="viProtectionPassword" onchange="onViProtectionInfoChange();"/>
                    <span asp-validation-for="ViProtectionViewModel.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Save Protection Info" class="btn btn-primary" id="btn-submitViProtectionInfo" />
                </div>
            </form>
        </div>
    </div>*@



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        document.onload = muteDivs();
        function muteDivs() {
            var checkBox = document.getElementById("emergencyKeyActive");
            if (checkBox.checked == true) {
                $("#div-key-key").removeClass('text-muted');
                $("#div-key-interval").removeClass('text-muted');
                $("#emergencyKeyValue").removeAttr('readonly');
                $("#emergencyKeyInterval").removeAttr('readonly');
            } else {
                $("#div-key-key").addClass('text-muted');
                $("#div-key-interval").addClass('text-muted');
                $("#emergencyKeyValue").attr('readonly', true);
                $("#emergencyKeyInterval").attr('readonly', true);
            }
        };

        @*$(function() {
            $('#btn-submitViProtectionInfo').click(function() {
                if ($("#form-viProtectionInfo").valid()) {
                    if ($("#viProtectionDescription").val() == "") {
                    } else {
                        if ($("#viProtectionPassword").val() == "") {
                        } else {
                            $('#form-viProtectionInfo').submit();
                        }
                    };
                } else {
                    return false;
                }
            });

            $("#form-viProtectionInfo").on("submit",
                function(event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddViProtectionInfo", "Products")',
                        dataType: "html",
                        data: {
                            Description: $('#viProtectionDescription').val(),
                            Password: $('#viProtectionPassword').val(),
                            ProductId: $('#productId').val()
                        },
                        success: successFunc,
                        error: errorFunc
                    });

                    function successFunc(data, status) {
                        $("#viProtectionInfoDiv").html(data);
                    };

                    function errorFunc() {
                        alert('error');
                    };
                });
        });

        function onViProtectionInfoChange() {
                if ($("#viProtectionDescription").val() == "") {
                    $("#btn-submitViProtectionInfo").attr('readonly', true);
                } else {
                    if ($("#viProtectionPassword").val() == "") {
                        $("#btn-submitViProtectionInfo").attr('readonly', true);
                    } else {
                        $("#btn-submitViProtectionInfo").removeAttr('readonly');
                    }
                };
        };*@

    </script>
}
