@model LicenseManagerWeb.ViewModels.SwProductViewModel

<h4>Product</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SwProduct.Id" id="productId" />
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Product Information</span>
            </h4>
            <div class="form-group">
                <label asp-for="SwProduct.ProductId" class="control-label"></label>
                <input asp-for="SwProduct.ProductId" class="form-control w-25" />
                <span asp-validation-for="SwProduct.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.Name" class="control-label"></label>
                <input asp-for="SwProduct.Name" class="form-control w-75" />
                <span asp-validation-for="SwProduct.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.Version" class="control-label"></label>
                <input asp-for="SwProduct.Version" class="form-control w-25" />
                <span asp-validation-for="SwProduct.Version" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 order-md-2">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Links</span>
            </h4>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SourceCodeLocation" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SourceCodeLocation" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SourceCodeLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SharePointLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SharePointLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SharePointLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.EasyProjectLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.EasyProjectLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.EasyProjectLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwProduct.ProductMetadata.SmartSheetLink" class="control-label"></label>
                <input asp-for="SwProduct.ProductMetadata.SmartSheetLink" class="form-control" />
                <span asp-validation-for="SwProduct.ProductMetadata.SmartSheetLink" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SwProduct.LicenseId" class="control-label"></label>
                <select asp-for="SwProduct.LicenseId"
                        asp-items="@(new SelectList(Model.UsbTokens,"Id","Label"))">
                </select>
                <span asp-validation-for="UsbTokens" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="SwProduct.EmergencyKey.Id" id="emergencyKeyId" />
            <div class="form-group">
                <input type="checkbox" asp-for="SwProduct.EmergencyKey.Active" class="form-check-input ml-1" id="emergencyKeyActive" onclick="muteDivs()" />
                <label asp-for="SwProduct.EmergencyKey.Active" class="form-check-label ml-4"></label>
            </div>
            <div class="form-group" id="div-key-key">
                <label asp-for="SwProduct.EmergencyKey.Key" class="control-label"></label>
                <input asp-for="SwProduct.EmergencyKey.Key" class="form-control" id="emergencyKeyValue" />
                <span asp-validation-for="SwProduct.EmergencyKey.Key" class="text-danger"></span>
            </div>
            <div class="form-group" id="div-key-interval">
                <label asp-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="control-label"></label>
                <input asp-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="form-control" id="emergencyKeyInterval" />
                <span asp-validation-for="SwProduct.EmergencyKey.ExecutionIntervalMinutes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="btn-saveProduct" />
            </div>
        </div>
    </div>
</form>

<div class="row" id="viProtectionInfoDiv">
    <partial name="_ViProtectionInfo" model="Model.SwProduct.ViProtectionInfo" />
</div>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Products/AddViProtectionInfo" data-ajax-update="#viProtectionInfoDiv">
    <div class="form-group">
        <label asp-for="ViProtection.Description" class="control-label"></label>
        <input asp-for="ViProtection.Description" class="form-control" />
        <span asp-validation-for="ViProtection.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ViProtection.Password" class="control-label"></label>
        <input asp-for="ViProtection.Password" class="form-control" />
        <span asp-validation-for="ViProtection.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Protection Info" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        document.onload = muteDivs();
        function muteDivs() {
            var checkBox = document.getElementById("emergencyKeyActive");
            if (checkBox.checked == true) {
                $("#div-key-key").removeClass('text-muted');
                $("#div-key-interval").removeClass('text-muted');
                $("#emergencyKeyValue").removeAttr('readonly');
                $("#emergencyKeyInterval").removeAttr('readonly');
            } else {
                $("#div-key-key").addClass('text-muted');
                $("#div-key-interval").addClass('text-muted');
                $("#emergencyKeyValue").attr('readonly', true);
                $("#emergencyKeyInterval").attr('readonly', true);
            }
        }
    </script>
}
