@model License

<li class="list-group-item d-flex">
    <div>
        <label asp-for="IssuedBy" class="text-muted"></label>
        @if (Model.IssuedBy != null)
        {
            <h6 class="my-0">@Model.IssuedBy.Name + " " + @Model.IssuedBy.Surname</h6>
        }
        else
        {
            <h6 class="my-0">Unknown user</h6>
        }
    </div>
</li>
<li class="list-group-item d-flex">
    <div>
        <label asp-for="IssueDate" class="text-muted"></label>
        @if (Model.IssueDate != null)
        {
            <h6 class="my-0">@Model.IssueDate.Date</h6>
        }
        else
        {
            <h6 class="my-0">"Unknown date"</h6>
        }
    </div>
</li>
